body
{
	background-position: center;
	background-color:gray;
	margin-left: 140px;
	margin-top: 20px;
	margin-right: 120px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}
#table1
{
	margin-left:5px;
	background-color:white;
	background-position: center;
	height: 76px;
	width:1100px;
}
#td1
{
	width:185px;
	height:75px;
	background-color: 
}
#banner
{
	
	width: 180px;
	height: 70px;
}
#td_blank
{
	width:100x;
	height:75px;
}
#td2
{
	width:735px;
	height:75px;
	font-family: serif;
	font-size: 30px;
	font-style: inherit;

}
#td3
{
	width:80px;
	height:75px;
}
#button1 
{
    height: 30px;
    width: 80px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:#366489;
    color:white;
    font-size: 11px;
    border: 0;
}
#td4
{
	width:30x;
	height:75px;
}
#list
{
	
	width: 25px;
	height: 20px;
}
#table2
{
	margin-left:2px;
	background-color:#477d9a;
	background-position: center;
	height: 496px;
	width:210px;
	

}
#button2 
{
    height: 40px;
    width: 180px;
    border-radius: 8px;
    border: 1px solid #000;
    font-family:sans-serif;
    font-size: 13px;
   background-color:#366489;
   color:white;
    border: 0;
}
#img1
{
	
	width: 140px;
	height: 90px;
}
#table3
{
	background-color:white;
	background-position: center;
	height: 496px;
	width:886px;

}
#td6
{
	width:1050x;
	height:495px;
	
	
}