@CHARSET "ISO-8859-1";

#removeBTN
{
	
	height: 25px;
    width: 65px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:#366489;
    color:white;
    font-size: 11px;
    border: 0;
}
#addBTN
{
	
	height: 25px;
    width: 65px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:#366489;
    color:white;
    font-size: 11px;
    border: 0;
}
#label21
{
	border:none;
	size: 9px;
	color:red;
	
	width:250px;
}
#editBTN
{
	height: 25px;
    width: 65px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:#366489;
    color:white;
    font-size: 11px;
    border: 0;
}
#comBTN
{
	height: 25px;
    width: 35px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:#366489;
    color:white;
    font-size: 11px;
    border: 0;
}
#editBTN1
{
	height: 25px;
    width:10px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:#366489;
    color:white;
    font-size: 11px;
    border: 0;
}
#addbtn1
{
	 width: 65px;
	  border-radius: 7px;
}
#createBTN
{
	height: 25px;
    width: 65px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:white;
    color:#366489;
    font-size: 11px;
    border: 0;
}
#tableView
{
	border: thick;
	background-color: #abecef;
	border-color: black;
	width: 350px;
}
#tableView1
{
	border: thick;
	background-color: white;
	border-color: black;
}
#tableView2
{
	border: thick;
	background-color: #abecef;

	border-color: black;
		width: 250px;
		
}
#create
{
    height: 25px;
    width: 65px;
    border-radius: 7px;
    border: 1px solid #000;
    font-family: sans-serif;
    background-color:white;
    color:#366489;
    font-size: 11px;
    border: 0;
}
#td9
{
	color: #abecef;
}
#check
{
	width:17px;
	height:17px;
	
	
}
ul
{
	list-style: none;
}
ul li ul
{
 display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
ul li ul 
{
	display: none;
}
ul li:hover ul {
  display: block;
  }
#setting
{
	 font-family: sans-serif;
    color: #f9d33e;
    font-size: 15px;
    position: absolute;
    
}
#menu
{
	 font-family: sans-serif;
    color: white;
    font-size: 13px;
    
    
}
#setTb
{
	height: 50px;
	width:100px;
}
/* #check:checked + span
{
  text-decoration:line-through;

} */
